body {
  margin: 0;
  min-height: 100vh;

  background-image: url("/static/images/Indian_Cusine.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-container {
  position: relative;
  z-index: 1;
  width: 420px;
  background-color: white;
  padding: 35px;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.signup-container form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 18px;
}

.signup-container h3 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 25px;
  color: #10243e;
  font-size: 28px;
}

.signup-container label {
  display: block;
  margin-bottom: 7px;
  color: #333;
  font-size: 15px;
  font-weight: 600;
}

.signup-container input,
.signup-container textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
  outline: none;
  box-sizing: border-box;
}
.signup-container input:focus,
.signup-container textarea:focus {
  border-color: #ff5a3d;
  box-shadow: 0 0 5px rgba(255, 90, 61, 0.3);
}

.signup-container input::placeholder,
.signup-container textarea::placeholder {
  color: #999;
  font-size: 14px;
}

.signup-container textarea {
  height: 80px;
  resize: none;
}

.signup-container button {
  width: 100%;
  padding: 11px;
  background-color: #ff5a3d;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.signup-container button:hover {
  background-color: #e94b30;
}

.signin-text {
  text-align: center;
  margin-top: 20px;
  color: #666;
  font-size: 13px;
}

.signin-text a {
  color: #ff5a3d;
  text-decoration: none;
  font-weight: bold;
}

.signin-text a:hover {
  text-decoration: underline;
}

@media (max-width: 500px) {
  .signup-container {
    width: 90%;
    padding: 25px;
  }
}
